// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "../fonts/font-awesome" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "partials/common";

// guest home.blade.php

nav a {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

h1 {
    font-size: 48px;
    color: #26596f;
}

h2 {
    color: #117ac9;
    font-size: 36px;
}

.content p {
    font-size: 24px;
}
